body{
    background-image: url(../images/bg6.jpg);
    background-size: 2000px;
    padding: 5%
}


.container{
    border: solid black 2px;
    background-color: rgba(255, 255, 255, 0.8);
}

.container .form {
    max-width: 500px;
}